// COLORS
$white: #fff;
$offWhite: #fafafa;

// FONTS
$color-font-main: #212121;
$color-font-main-light: #4d4d4d;

// COMPONENTS
// Main
$color-background-nav: $white;
$color-background-main: $offWhite;
// Comments
$color-comment-background: $white;