// Mixins

@mixin neuzeit-bold {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.75px;
}

@mixin neuzeit-reg {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.75px;
}

@mixin neuzeit-black {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.75px;
}

p, h1, h2 {
    margin: 0;
    word-break: break-all;
    white-space: pre-line;
}
