.button {
    &__default {
        width: 82px;
        height: 40px;
        border-radius: 8px;
        background-color: $color-button-default-background;
        border: none;
        outline: none;
        color: $color-button-default-font;
        transition:background-color .1s ease-in;

        &:hover {
            cursor: pointer;
        }
        
        &_locked {
            background-color: $color-button-default-background-locked;
            transition:background-color .1s ease-in;
            
            &:hover {
                cursor: default;
            }
        }
    }

    &__comment_add {
        // blank
    }
}

// APPLIED FONTS

.font__button_comment_add {
    @include neuzeit-bold;
    font-size: 18px;
}