spacy==2.3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz#egg=en_core_web_md==2.3.1
numpy==1.19.2
keras==2.3.1
tensorflow==1.13.1
scikit-learn==0.23.2
h5py==2.10.0