.commentadd {
    &__wrapper {
        // border-radius: 6px;
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: $color-comment-background;
        padding: 22px 0px;
        // padding: 22px 18px;
        font-size: 1.2em;
    }

    &__tophalf {
        display: inline-grid;
        grid-template-columns: 14.58% auto;
        width: 100%;
        border-bottom: 2px solid $color-comment-name-border;
        padding-bottom: 16px;
    }

    &__icon_wrapper {
        display: flex;
        align-items: center;

        i {
            color: $color-comment-icon;
        }
    }
    
    &__text {
        &_wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            
           & #commentNameInput::-webkit-input-placeholder{
                color: $color-comment-placeholder-text;
            }
            & #commentNameInput:-moz-placeholder {
                color: $color-comment-placeholder-text;
            }

            & input {
                border-style: none;
                width: 100%;

                &:focus {
                    outline: none !important;
                }
            }
        }

        &_body {
            &_active, &_inactive {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &_active {
                opacity: 1;
                margin-top: 14.5px;
                min-height: 100px;
                transition:min-height .3s ease-in, opacity .5s ease-in;
            }

            &_inactive {
                opacity: 0;
                height: 0px;
                min-height: 0px;
                transition:min-height .2s ease-out;
            }
        }

        &_name {
            &_active {
                // Incase there needs to be styling
            }

            &_inactive {
                // Incase there needs to be styling
            }
        }
    }

    &__button_holder {
        display: flex;

        .button__comment_add {
            margin-right: 15px;
        }
    }

    &__icon {
        &_type_text {
            margin-right: 18px;
            transform: scale(-1,1);
            color: $color-comment-icon-text;
        }
    }
}

#commentErrorMessage {
    font-size: 12px;
}

#commentBodyTextArea {
    margin-bottom: 10px;
}

.commentposts {
    &__wrapper {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__button_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

#commentShowMoreButton {
    margin-top: 8px;
}

.commentpost {
    &__wrapper {
        min-height: 100px;
        width: 100%;
        background-color: $color-comment-background;
        border-radius: 6px;
        padding: 12px 0px;
        margin-top: 8px;
        box-sizing: border-box;
    }

    &__header_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
    }
}

.commentsection {
    &__wrapper {
        max-width: 600px;

        & .commentadd__wrapper {
            margin-bottom: 24px;
        }
    }
}

// APPLIED FONTS

.font__comment_add {
    &_content {
        @include font-black;
        color: $color-font-main;
        font-size: 1em;
    }

    &_error {
        @include font-reg;
        color: $color-font-error;
    }
}

.font__comment_posted {
    &_name {
        @include font-bold;
        color: $color-font-main;
    }

    &_time {
        @include font-reg;
        color: $color-font-main-light2;
    }

    &_content {
        @include font-reg;
        color: $color-font-main;
    }

    &_empty {
        @include font-reg;
        color: $color-font-main-light2;
    }
}
