.map {
    &__wrapper {
        display: inline-block;
        height: 300px;
        width: 500px;
    }
}

.mapboxgl-map {
    height: 100%;
}

.map__marker_primary {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: solid 2px $color-map-marker-primary-second;
    background-color: $color-map-marker-primary-main;
  }

