.map {
    &__wrapper {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    &__marker {
        &_default {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            border: solid 2px $color-map-marker-default-second;
            background-color: $color-map-marker-default-main;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-font-map-marker;
            z-index: 1;
        }
        &_selected {
            @extend .map__marker_default;
            background-color: $color-map-marker-selected-main;
            z-index: 2;
        }
    }
}

.mapboxgl-map {
    height: 100%;
}

// APPLIED FONTS
.font__map_marker_font {
    @include font-bold;
    font-size: 18px;
}

// MEDIA QUERIES

@media only screen and (max-width: 768px) {
    .map {
        &__wrapper {
            margin-bottom: 56px;
        }
    }
  }