.map {
    &__wrapper {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

.mapboxgl-map {
    height: 100%;
}

.map__marker_primary {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: solid 2px $color-map-marker-primary-second;
    background-color: $color-map-marker-primary-main;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-font-map-marker;
  }

// APPLIED FONTS
.font__map_marker_font {
    @include neuzeit-bold;
    font-size: 18px;
}
