.menu {
    &__wrapper {
        margin: 16px;
        width: 400px;
    }

    // MOBILE

    &_mobile {
        &__wrapper {
            height: 56px;
            // padding: 16px;
            width: 100%;
            background-color: white;
            position: absolute;
            z-index: 2;
            bottom: 0;
        }

        &__content_wrapper {
            display: flex;
            margin:0 16px;
            height: 100%;
        }

        &__topbar {
            width: 100%;
            display: flex;
            align-self: center;

            &_text {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

// APPLIED FONTS

.font__menu_topbar {
    @include neuzeit-bold;
    color: $color-font-main;
}