.menu {
    &__wrapper {
        position: absolute;
        width: 100%;
        z-index: 5;
    }

    &__link {
        color: $color-menu-link;
        background-color: $color-menu-link-background;
        padding: 10px 15px;
        
        & h1 {
            font-size: 14px;
            line-height: 24px;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-menu-link-background-hover;

            & h1 {
                color: $color-menu-link-hover;
            }
        }
    }
}

// APPLIED FONTS

.font__menu_link {
    @include font-black;
    color: $color-font-white;
    font-size: .75em;
}
