.navbar {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 56px;
        background-color: $color-background-nav;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 16px;
    }

    &__menu {
        display: flex;
        align-items: center;

        h1 {
            margin-left: 34px;
            font-size: 16px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: $color-navbar-icon-background;
        transition: background-color .15s;
        padding: 5px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;

        i {
            color: $color-navbar-icon;
            transition: color .15s;

        }

        &:hover {
            cursor: pointer;
            background-color: $color-navbar-icon-background-hover;
            transition: background-color .15s;


            & i {
                color: $color-navbar-icon-hover;
                transition: color .15s;
            }
        }

        &_close {
            @extend .navbar__icon;
            background-color: $color-navbar-icon-background-hover;

            i {
                color: $color-navbar-icon-hover;
            }
        }
    }

}

// APPLIED FONTS

.font__navbar {
    @include font-black;
    color: $color-font-alt;
}

.font__navbar_menu_desktop {
    @include font-black;
    color: $color-font-main;
}
