.navbar {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        background-color: $color-background-nav;
    }

    &__content_wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 16px;
    }

    &__logo_wrapper {

    }

    &__links_wrapper {
        display: flex;
        align-self: flex-end;

        span {
            width: 40px;
        }

        &_mobile {
            align-self: center;

            svg {
                fill: $color-font-alt;
                height: 2em;
            }
        }
    }

}

// APPLIED FONTS

.font__navbar {
    @include neuzeit-black;
    color: $color-font-alt;
}
