.navbar {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 56px;
        background-color: $color-background-nav;
    }

    &__content_wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 16px;
    }

    &__icon_wrapper {
        display: flex;
        justify-content: center;
        align-self: center;

        i {
            color: $color-font-alt;
        }
    }

}

// APPLIED FONTS

.font__navbar {
    @include font-black;
    color: $color-font-alt;
}
