.region {
    &__wrapper {
        display: flex;
        height: 100%;
        
        &_mobile {
            @extend .region__wrapper;
            flex-direction: column;
        }
    }

    &__menu_wrapper {
        margin: 16px;
        width: 400px;
    }
}