// COLORS
$white: #fff;
$rollioWhite: #fafafa;
$rollioLighterGrey: #eeeeee;
$rollioLightGrey: #757575;
$rollioMedGrey: #4d4d4d;
$rollioBlack: #212121;
$rollioBlue: #0046c6;
$rollioMagenta: #f74774;
$rollioRed: #f54336;

// FONTS
$color-font-main: $rollioBlack;
$color-font-main-light: $rollioMedGrey;
$color-font-main-light2: $rollioLightGrey;
$color-font-alt: $rollioMagenta;
$color-font-error: $rollioRed;
$color-font-link: $rollioBlue;
$color-font-white: $white;
$color-font-map-marker: $white;

// COMPONENTS
// Main
$color-background-nav: $white;
$color-background-main: $rollioWhite;
// Comments
$color-comment-icon-text: $rollioBlue;
$color-comment-background: $white;
$color-comment-name-border: $rollioLighterGrey;
// Buttons
$color-button-default-font: $white;
$color-button-default-background: $rollioBlue;
$color-button-default-background-locked: $rollioLighterGrey;
// Map
$color-map-marker-primary-main: $rollioBlue;
$color-map-marker-primary-second: $white;
// Images
$color-blank-image: $rollioLighterGrey;
// Other
$color-chip-background: $rollioWhite;
// Vendor Profile
$color-vendor-profile-background: $white;
$color-vendor-profile-topbar: $rollioMagenta;
$color-vendor-profile-info-icon: $rollioMagenta;
$color-vendor-profile-info-icon-alt: $rollioBlack;
$color-vendor-info-main: $rollioMagenta;
$color-vendor-info-alt: $rollioBlack;