// COLORS
$white: #fff;
$rollioWhite: #fafafa;
$rollioLighterGrey: #eeeeee;
$rollioLightGrey: #757575;
$rollioMedGrey: #4d4d4d;
$rollioBlack: #212121;
$rollioBlue: #0046c6;
$rollioMagenta: #f74774;
$rollioMagentaLight: #fa6e92;
$rollioRed: #f54336;

// FONTS
$color-font-main: $rollioBlack;
$color-font-main-light: $rollioMedGrey;
$color-font-main-light2: $rollioLightGrey;
$color-font-main-light3: $rollioLighterGrey;
$color-font-alt: $rollioMagenta;
$color-font-error: $rollioRed;
$color-font-link: $rollioBlue;
$color-font-white: $white;
$color-font-map-marker: $white;

// COMPONENTS
// Main
$color-background-nav: $white;
$color-background-main: $white;
// Comments
$color-comment-icon: $rollioMagenta;
$color-comment-icon-text: $rollioMagenta;
$color-comment-background: $white;
$color-comment-name-border: $rollioLighterGrey;
// Buttons
$color-button-default-font: $white;
$color-button-default-background: $rollioBlue;
$color-button-default-background-locked: $rollioLighterGrey;
$color-button-bare-font: $rollioBlue;
$color-button-bare-alt-font: $rollioMagenta;
// Map
$color-map-marker-default-main: $rollioBlue;
$color-map-marker-selected-main: $rollioMagenta;
$color-map-marker-default-second: $white;
$color-map-infocard-font: $rollioMagenta;
// Images
$color-blank-image: $rollioLighterGrey;
// Other
$color-chip-background: $rollioWhite;
$color-linebreak: $rollioLighterGrey;
// Vendor Menu
$color-vendor-menu-link-background: $white;
$color-vendor-menu-link-background-hover: $rollioLighterGrey;
$color-vendor-menu-switch-active: $rollioBlack;
$color-vendor-menu-switch-inactive: $rollioLighterGrey;
// Vendor Profile
$color-vendor-profile-background: $white;
$color-vendor-profile-mobile-header: $rollioMagenta;
$color-vendor-profile-close-icon: $rollioMagenta;
$color-vendor-profile-close-icon-hover: $white;
$color-vendor-profile-close-icon-background: $white;
$color-vendor-profile-close-icon-background-hover: $rollioMagenta;
$color-vendor-profile-info-icon: $rollioMagenta;
$color-vendor-profile-info-icon-alt: $rollioBlack;
$color-vendor-info-main: $rollioMagenta;
$color-vendor-info-main-hover: $rollioMagentaLight;
$color-vendor-info-alt: $rollioBlack;
// Scrollbar
$color-scrollbar-background: $rollioWhite;
$color-scrollbar-thumb: $rollioLighterGrey;