.flex {
    display: flex;
}

.flex__verticle_center {
    display: flex;
    align-items: center;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__center_space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__center_full_height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }