// Mixins

@mixin font-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-reg {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin font-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin font-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}

p, h1, h2, h3 {
    margin: 0;
    word-break: break-word;
    white-space: pre-line;
}
