// Main page layout

html, body, #root, .App {
 height: 100%;
}

body {
    margin: 0;
    background-color: $color-background-main;
}

// VARIABLES

// Side margins of full page width
$body-margin-sides: 14.5%